<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Cotxox App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"></link>        
        <script type="text/javascript" src="../static/angular.min.js" th:src="@{/angular.min.js}"></script>
        <script type="text/javascript" src="../static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
        <script type="text/javascript" src="../static/app/conductores.controller.js" th:src="@{/app/conductores.controller.js}"></script>
    </head>
    <body ng-app="app" ng-controller="ConductorsController as vm">
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Cotxox App</a>
                    </div>
                    <p class="navbar-text navbar-right" style="margin-right: 10px;">Base de datos</p>
                </div>
            </nav>
        </header>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8">
                    <div class="btn-group" role="group">
                        <button ng-click="vm.getAll()" type="button" class="btn btn-default">Todos</button>
                        <button ng-click="vm.getFiables()" type="button" class="btn btn-default">Fiables</button>
                        <button ng-click="vm.getDisponibles()" type="button" class="btn btn-default">Disponibles</button>

                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Conductor</th>
                                <th>Vehículo</th>
                                <th>Matrícula</th>
                                <th>Valoración</th>
                                <th style="width: 90px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="conductor in vm.conductores">
                                <td>{{conductor.nombre}}</td>
                                <td>{{conductor.modelo}}</td>
                                <td>{{conductor.matricula}}</td>
                                <td>{{conductor.valoracionMedia}}</td>
                                <td>
                                    <button class="btn btn-danger" ng-click="vm.eliminar(conductor.id)">Eliminar conductor</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-success" ng-click="vm.crear(conductor.id)" >Añadir conductor</button>
                </div>
            </div>
        </div>

        <footer class="footer" style="position: absolute; bottom:0;background-color: #f5f5f5; width: 100%">

        </footer>
    </body>
</html>